
h1 {
	color: #6633ff; 
	font-family: 'Permanent Marker', cursive;
	font-size:60px; text-align: center
	}			

	}
h3 {
	color:blue; 
	text-align:center;
	}
h2 {
	font-family: 'Permanent Marker', cursive;}
.center {
	font-style: italic;
	}
div p {
	  width:450px;
	  height:400px;
	  background-image: url("scarymonstersII.png");
	  background-repeat: no-repeat;
	  background-position: center top;
	  background-size: 450px 400px;
	  margin: 0 auto;
  }
h4 {
	text-align:center
	}


	