div p {
	  width:450px;
	  height:400px;
	  background-image: url("scarymonstersII.png");
	  background-repeat: no-repeat;
	  background-position: center top;
	  background-size: 450px 400px;
	  margin: 0 auto;
  }
h1 {
	color: #6633ff; 
	font-family: 'Permanent Marker', cursive;
	font-size:60px; text-align: center
	}
a:link{
	text-decoration: none				
	}
a:visited {
	text-decoration: none;
	}
a:hover {
	background-color: #99FFFF;
	text-decoration: underline;
	}
a:active {
	text-decoration: underline;
	}	
thead {
	text-align: center;
	}
h3 {
	color: #6633ff; 
	text-align:center;
	font-weight: bold;
	}
h2 {
	font-family: 'Permanent Marker', cursive;
	}
.artists {
	font-style: italic;
	font-weight: bold;
	}

h4 {
	text-align:center
	}

tbody {
	margin: 0 auto;
	}