header {
	color: white;
	text-align: center; 
	background-color: #CC3300; 
	height: 70px; 
	padding:top:10px; 
	padding-bottom:10px;
	font-family: 'Oleo Script', cursive;
	}
h1  {
	font-size:60px;
}
.nav{
	background-color: #FFCC33;
	text-align:left;
	}

ul{list-style-type: none;
	margin: 0;
	padding:0px;
	}
li {display: inline;
	}
/* unvisited link */
li a:link {
	color: blue;
	text-decoration: none;
	}
/* visited link */
li a:visited {
	color: maroon;
	}
/* hover over link */
li a:hover {
	font-weight: bold;
	}
li a:active {
	text-decoration: none;
	}
.carousel-inner > .item > img {
	margin: 0 auto; height: 100px;}
footer {
	color: white; 
	text-align: center; 
	
	background-color: #CC3300;
	Font-family: 'Oleo Script', cursive;
	Font-size:20px;
	}